{% extends "auctions/layout.html" %}

{% block title %}
    Watchlist
{% endblock %}

{% block body %}
    <h2>Your Watchlist</h2>

    <div>
        <ul>
            {% for listing in watchlist %}
            <li>
                <div class="content">
                    </a>
                    <div class="listing">
                        <a href="{% url 'listing' listing.id%}"><h4>{{ listing.title}}</h4></a>
                    </div>
                    <div class="img">
                        <img src="{{ listing.image }}" class="img-thumbnail">
                    </div>
                    <div class="desc">
                        <p>{{ listing.description }}</p>
                    </div>
                    <div class="price">
                        <p class="money">{{ listing.price}} <span>$</span></p>
                        
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}